.gameboard .cell {
    display: grid;
    place-items: center;
    width: 20px;
    height: 20px;
}

.gameboard td {
    padding: 0;
}

.hidden-card {
    opacity: 40%;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
