.gameboard .cell {
    display: grid;
    place-items: center;
    width: 20px;
    height: 20px;
}

.gameboard td {
    padding: 0;
}

.hidden-card {
    opacity: 40%;
}

.header-pill-group > .badge {
  border-radius: 0;
}

.header-pill-group > .badge:first-child {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.header-pill-group > .badge:last-child {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
